<div id="<%= dom_id article %>">
  <p>
    <strong>Titre:</strong>
    <%= article.titre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= article.price %>
  </p>

  <p>
    <strong>Validate:</strong>
    <%= article.validate %>
  </p>

</div>
