<h1>Editing article</h1>

<%= render "form", article: @article %>

<br>
<%if @article.images.attached?%>
    <%= link_to "Supprimer l'image", article_image_path(@article), method: :delete, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
      <%= form_tag article_images_path(@article), multipart: true do %>
      <%= file_field_tag :images %>
      <%= submit_tag "mettre à jour" %>
      <% end %>
    <%else%>
      <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
      <%= form_tag article_images_path(@article), multipart: true do %>
      <%= file_field_tag :images %>
      <%= submit_tag "mettre à jour" %>
      <% end %>
    <%end%>

<br>

<div>
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
