<!DOCTYPE html>
<html>
  <head>
    <title>Maquette</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Menu principal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/articles/new">Vendre un produit</a>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">
              <li><%= link_to "Mon profil", profil_path(current_user), class: "dropdown-item" %></li>
              <li><%= button_to "Cancel my account", destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">
              <li><%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <% end %>
          <%= form_with url: "/profils", method: "create" do |form| %>
          <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
          <%= form.submit "Devnir admin !" %>
        <% end %>
          
        </ul>
        
        <%= form_with url: "/profils", method: "create" do |form| %>
          <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
          <%= form.submit "Devnir admin !" %>
        <% end %>
        
      </div>
    </div>
  </nav>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
  </body>
</html>
